<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 20%;">post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-textarea placeholder="เขียนบทความลงที่นี่" expand="full"></ion-textarea>
    </ion-item>
<div style="margin-left: 35%; margin-top: 10%;">
          <ion-button color="primary" shape="round" routerLink="/post">
            Post
          </ion-button>
        </div>
</ion-content>
